@model Person

@* deze titel zal in je tablad verschijnen *@
@{
    ViewBag.Title = "Create Person";
}

<h1>@ViewBag.Title</h1>

<form method="post">
    <partial name="CreateEditPartial" model="Model"/>

    <a asp-action="Index" class="btn btn-secondairy">Back</a>
    <button type="submit" class="btn btn-primairy">Create</button>
</form>